/* sets universal styling */
* {
  box-sizing: border-box;
}

/* makes the body look nice */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #153b50;
  color: #fafaff;
}

/* first bits of styling for navbar */
.navbar {
  padding: 1rem 2rem;
  background-color: #0b0d10;
  line-height: 30px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/* the way the h1 looks in the header */
.navbar #header-title {
  font-size: 2rem;
  float: left;
}

/* styling the navbar list */
.navbar li {
  list-style: none;
  display: inline;
  float: right;
}

/* all of the good styling to make a gradient and nice buttons :) */
.navbar li a {
  text-decoration: none;

  padding: 3px 25px;
  margin: 0px 15px;

  background-image: linear-gradient(to bottom right, #008cff, #e100ff);
  border-radius: 1000px;
  border: none;
  color: #f0f0f0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* sets up the container for the different "cards" */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 25%));
  gap: 1.5rem;
  margin: 2rem;
}

/* this is what styles each "card" */
.card {
  background-color: #fafaff;
  width: 100%;
  height: 100%;
  color: #153b50;
  padding: 20px;
  border-radius: 10px;
}

.inline-class {
  display: inline-block;
}

.preview {
  margin: 15px;
}

.card-wide {
  grid-column: span 2; /* makes longer card */
}

.card-tall {
  grid-row: span 2; /* makes taller card */
}

/* the card titles */
.card h3 {
  font-size: 2rem;
  text-align: center;
}

/* the card text content */
.card p {
  text-align: start;
  line-height: 1.5rem;
}

.download-card {
  background-color: #153b50;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 30px 20px;
  text-decoration: none; /* removes the underline from the links */
}
